{% extends "layout.html" %}
{% block title %}Tweet{% endblock %}

{% block content %}
    <h1 class="text-center bg-slate-600">forms</h1>
    <h2>
        {% if form.instance.pk %}
            Edit Tweet
        {% else %}
            Create Tweet
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300">
                {% if form.instance.pk %}
                    Save
                {% else %}
                    Post
                {% endif %}
            </button>
            
        </form>
        {% comment %} <a type="submit"  href="{% url 'tweet_list' %}" class="px-4 py-2 text-white bg-green-600 rounded-lg hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-green-300">
            {% if form.instance.pk %}
                Save
            {% else %}
                Post
            {% endif %}
        </a> {% endcomment %}
        
    </h2>
        

{% endblock %}